
.humburger-modile {
    display: none;
}


@media (hover: hover) {
    .btn:hover {
        background-color: rgb(75 85 99 / 0.35);
    }
}

@media screen and (max-width: 767px) {
    .humburger {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    }

    .humburger .show {
        height: 550px;
    }

    .hrum {
        height: 5000px;
    }

    .main {
        flex-direction: column;
        display: sticky;
    }

    .humburger-main {
        display: none;
    }

    .humburger-modile {
        display: flex;
    }
}